html, body {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: "Century Gothic", Sans-serif;
	font-size: 14px;
}

p {
	letter-spacing: 1px;
	color: #cda790;
	margin: 0;
	padding: 0;
}

/* Responsive */

/* Transitions */

@keyframes fade {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.fade {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: fade;
}

/* Navigation */

nav {
	text-align: center;
	margin-top: 6%;
	margin-bottom: 6%;
}

ul {
	padding: 0;
	font-size: 11px;
}

li {
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	letter-spacing: 1px;
}

a {
	color: #cda790;
	text-decoration: none;
}

a:hover {
	border-bottom: solid 1px #cda790;
	padding-bottom: 6px;
}

.active {
	border-bottom: solid 1px #cda790;
	padding-bottom: 6px;
}

/* Positions and Sizing */

.center {
	text-align: center;
}

.home {
	max-width: 60%;
}

.content {
	text-align: center;

}

/* Text */

.title {
	font-size: 18px;
	margin-top: 6%;
	margin-bottom: 6%;
}

.paragraph {
	font-size: 14px;
	margin-bottom: 8%;
}
